#lol{
	margin: 2%;
	width: 30%; 
  border: 2px solid;
  padding: 10px;
  text-align: center;
  display: inline-block;
  box-shadow: 5px 10px #888888;
}
#lel{
	margin: 2%;
	width: 30%; 
  border: 2px solid;
  padding: 10px;
  text-align: center;
  display: inline-block;
  box-shadow: 5px 10px #888888;
}
#bu{
  text-align: center; 
  padding-top: 5%;
	padding-bottom: 5%;
}
#le{
	font-weight: bold; 
	font-size: 40px;
	text-align: center;
	padding-top: 5% ;
}
span{
	color: grey;
}

.lead{
	font-size: 20px;
	text-align: center;
}
#im{
	text-align: center;
}
form{
	text-align: center;
}