/* #dd{
  padding-top: 3% ;
    margin: 2%;
    text-align: center;
    width: 20%;
    padding: 10px;
  display: inline-block;
}
#pp{
  padding-top: 3% ;
  text-align: center;
    margin: 2%;
    width: 20%;
    padding: 10px;
  display: inline-block;
} */

.button{
  border-radius: 1.2rem;
  border: 2px black;
  padding: 25px 50px;
  background-color: black;
  color: white !important;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20);
}

.button:hover{
  background-color: rgb(31, 29, 29);
}

.button:focus{
  border-color:transparent!important;
  outline:none;
}

  @media all and (max-width: 30em) {
    .button {
      display: block;
      margin: 0.2em auto;
    }
  }
#lo{
    text-align: center;
    padding-top: 3%;
}
#hd{
	padding-top: 3%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}
span{
     color: grey;
}
#im{
	padding-top: 3%;
	text-align: center;
}
#d{
  text-align: center;
}