body {
  background-color: #f5f5f5;
}

.complaintcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(74, 74, 74, 0.8);
  margin: 40px;
  background-color: #f7f4f2;
  border-radius: 5px;
  box-shadow: rgba(74, 74, 74, 0.6) 0px 10px 25px 0px;
}
.title {
  background-color: #6c757d;
  width: 100;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
  height: 60px;
}
.data {
  padding-top: 20px;
  padding-left: 10px;
  height: 100px;
  padding-bottom: 20px;
}
.btn-outline-secondary {
  border: 0px;
  margin: 1%;
}
.sidecolumn {
  background-color: #6c757d;
  padding-top: 20px;
  border-bottom-left-radius: 5px;
  padding-right: 20px;
}
.buttons {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 876px) {
  .title {
    z-index: "1";
  }
  .buttons {
    margin-top: 160px;
  }
  .complaintcard {
    font-size: 15px;
  }
}
@media only screen and (min-width: 876px) {
  .complaintcard {
    font-size: 20px;
  }
}

.id {
  display: inline-block;
  text-align: right;
  margin-top: 15px;
}

@media only screen and (min-width: 581px) {
  .id {
    display: none;
  }
}
@media only screen and (max-width: 581px) {
  .complaint {
    margin-top: 90px;
  }
  .sidecolumn {
    display: none;
  }
}
.complaint {
  display: flex;
  flex-wrap: wrap;
  border: 0px;
  max-width: fit-content;
  padding-bottom: 30px;
  height: 100px;
  word-wrap: break-word;
}
